<%= content_for :head do %>
  <title>Fullcalendar demos</title>
<% end %>
<a href="../">Back to index</a>
<h1>Fullcalendar Examples</h1>
<ol reversed>
  <li><a href="./six/">Sixth example</a> - Another attempt att figuring out where events drop.</li>
  <li><a href="./five/">Fifth example</a> - Calendar that knows (hopefully) where things are good to drop. <span style="color: #FF8600;">Abandoned for now</span></li>
  <li><a href="./four/">Fourth example</a> - Calendar with events from the database. <span style="color: red;">Broken due to DB changes</span></li>
  <li><a href="./three/">Third example</a> - Calendar with existing events and draggable events.</li>
  <li><a href="./two/">Second example</a> - Calendar with static draggable events.</li>
  <li><a href="./one/">First example</a> - Basic calendar.</li>
</ol>