<%= content_for :head do %>
  <title>Fullcalendar demos</title>
<% end %>
<a href="../">Back to index</a>
<h1>Fullcalendar Examples</h1>
<ol reversed>
  <li><a href="./four/">Fourth example</a> - Calendar with events from the database.</li>
  <li><a href="./three/">Third example</a> - Calendar with existing events and draggable events.</li>
  <li><a href="./two/">Second example</a> - Calendar with static draggable events.</li>
  <li><a href="./one/">First example</a> - Basic calendar.</li>
</ol>